DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=music_learning_platform_dev
PGHOST=localhost
PGUSER=postgres
PGPASSWORD=postgres
PGDATABASE=music_learning_platform_test
PHX_HOST=localhost
